<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home'%}">دانشکارگرام</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">خانه</a>
        </li>
        {% if request.user.is_authenticated %}
          <li class="nav-item"> 
              
            <a class="nav-link" href="{% url 'user_profile' request.user.id  %}">پروفایل  / <b><span style="font-size: 12px;">{{ request.user.username }}</span></b></a>
          </li>
          <li class="nav-item">
            {% if profilepic.profile_image %}
              <img src="/media/{{ profilepic.profile_image }} " style="width: 40px; height:40px; position: relative; border: 3px solid black; border-radius: 100%; " >
            {% else %}
              <img src="/media/profile_images/default.png " style="width: 40px; height:40px; position: relative; border: 3px solid black; border-radius: 100%; " >
            {% endif %}

          </li>
          <li class="nav-item">   
            <a class="nav-link" href="{% url 'profile' %}">
              <svg xmlns="http://www.w3.org/2000/svg" style="width: 20px;" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                <path fill-rule="evenodd" d="M11.013 2.513a1.75 1.75 0 0 1 2.475 2.474L6.226 12.25a2.751 2.751 0 0 1-.892.596l-2.047.848a.75.75 0 0 1-.98-.98l.848-2.047a2.75 2.75 0 0 1 .596-.892l7.262-7.261Z" clip-rule="evenodd" />
              </svg>              
              ویرایش پروفایل</a>
          </li>
          <li class="nav-item"> 
            <div class="container">
                <div class="row">
                    <div class="col-2">
                        &nbsp;
                    </div>
                </div>
            </div>
          </li>
          <li class="nav-item"  style="width: 80px; text-align: center;  border: 3px solid red;">
            <a href="{% url 'logout' %}" style="color: red;">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" style="width: 30px ; height:30px" fill="red" class="size-4">
                <path fill-rule="evenodd" d="M2.75 2a.75.75 0 0 1 .75.75v6.5h7.94l-.97-.97a.75.75 0 0 1 1.06-1.06l2.25 2.25a.75.75 0 0 1 0 1.06l-2.25 2.25a.75.75 0 1 1-1.06-1.06l.97-.97H2.75A.75.75 0 0 1 2 10V2.75A.75.75 0 0 1 2.75 2Z" clip-rule="evenodd" />
              </svg>
              <b>خروج</b> 
            </a>
          </li>
          <li class="nav-item" style="width: 150px; margin-right: 1rem; text-align: center;  border: 3px solid green;">
            <a href="{% url 'write' %}">
              <b style="color: green;">
                پست جدید
              </b>
            </a>
            <svg xmlns="http://www.w3.org/2000/svg" style="width: 30px; color:green" viewBox="0 0 16 16" fill="currentColor" class="size-4">
              <path d="M13.488 2.513a1.75 1.75 0 0 0-2.475 0L6.75 6.774a2.75 2.75 0 0 0-.596.892l-.848 2.047a.75.75 0 0 0 .98.98l2.047-.848a2.75 2.75 0 0 0 .892-.596l4.261-4.262a1.75 1.75 0 0 0 0-2.474Z" />
              <path d="M4.75 3.5c-.69 0-1.25.56-1.25 1.25v6.5c0 .69.56 1.25 1.25 1.25h6.5c.69 0 1.25-.56 1.25-1.25V9A.75.75 0 0 1 14 9v2.25A2.75 2.75 0 0 1 11.25 14h-6.5A2.75 2.75 0 0 1 2 11.25v-6.5A2.75 2.75 0 0 1 4.75 2H7a.75.75 0 0 1 0 1.5H4.75Z" />
            </svg>
            
            
            <i class="fa-solid fa-pencil"></i>
          </li>

        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">ورود</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'signup' %}">ثبت نام</a>
        </li>
        
        {% endif %}
        <li class="nav-item">

          <form method="get" autocomplete="off" action="/search">
            {% csrf_token %}
            <div class="container">
              <div class="row">
                <div class="col-8 pl-1">
                  <input type="text" class="form-control" id="search" name="query" placeholder="نام کاربر">
                  <div id="dropdown"></div>
                </div>
                <div class="col-4 p-0" style="text-align-last: right;">
                  <button type="submit" class="btn btn-secondary text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" style="width: 20px; height:20px;" fill="white" className="size-4">
                      <path fillRule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clipRule="evenodd" />
                    </svg>
                    برو
                  </button>
                </div>
              </div>
            </div>

          </form>
        </li>
      </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    -->
    </div>
  </nav>