@font-face {
    font-family: 'mycustomfont';
    src: url('mycustomfont.woff2') format('woff2'),
        url('mycustomfont.woff') format('woff'),
        url('mycustomfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body,html {
    font-family: 'mycustomfont' !important;
}
a{
    text-decoration: none !important;
}
.errorlist {
    color:red !important;
}
.round-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd; 
}
