{% extends 'base.html' %}

{% block content%}
<p class="text-success">
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
</p>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary" id="submitedit" name="submit_button" value="form1">ثبت تغییرات</button>
    <button id="editbutton" onclick="enableedit()" class="btn btn-success">ویرایش</button>
    
</form>

<br>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form2.as_p }}
    <button type="submit" name="submit_button" value="form2">ذخیره</button>
</form>

<a href="{% url 'logout' %}"><button class="btn btn-danger ">خروج</button></a>


<br>
<div>
    {% load static %}
    {% if profiledata %}

        <img src="/media/{{ profiledata.profile_image}}" class="round-image" width="150" height="150">
    {% else %}
        <img src="/media/profile_images/default.png"  width="150" height="150">
    {% endif %}
</div>
<br>

<script>
    document.getElementById("submitedit").disabled = true 
    function enableedit() {
        document.getElementById("editbutton").disabled = true
        document.getElementById("submitedit").disabled = false
        var field = document.getElementById("id_username");
        field.disabled = false;
        var field = document.getElementById("id_email");
        field.disabled = false;
        var field = document.getElementById("id_first_name");
        field.disabled = false;
        var field = document.getElementById("id_last_name");
        field.disabled = false;
    }

</script>
{% endblock %}