{% extends 'base.html' %}

{% block content%}
<p class="text-success">
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
</p>
<form method="post">
{{ form.as_p }}
    {% csrf_token %}
    <button class="btn btn-primary" onclick="success()">ثبت تغییرات</button>
</form>
<a href="{% url 'logout' %}"><button class="btn btn-danger ">خروج</button></a>

<button id="editbutton" onclick="enableedit()" class="btn btn-success">ویرایش</button>

<script>
    function enableedit() {
        var field = document.getElementById("id_username");
        field.disabled = false;
        var field = document.getElementById("id_email");
        field.disabled = false;
        var field = document.getElementById("id_first_name");
        field.disabled = false;
        var field = document.getElementById("id_last_name");
        field.disabled = false;
    }

</script>
{% endblock %}